/** @format */

.App {
  text-align: center;
  display: flex;
  padding: 5px;
}

.App h3 {
  text-align: left;
}

.left {
  flex: 1;
  padding: 5px;
}

.center {
  flex: 2;
  padding: 5px;
}

.right {
  flex: 1;
  padding: 5px;
  height: 100vh;
}
